<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <!-- Logo Image -->
    <ion-row style="padding: 3%;">
      <ion-col>
        <div class="imageLogo">
          <img src="../../assets/img/logo.png" height="10%" />
        </div>
      </ion-col>
    </ion-row>
    <!-- Logo Image -->

    <!-- Username -->
    <ion-row>
      <ion-col>
        <ion-item>
          <div color="dark" slot="start">
            <ion-icon slot="icon-only" name="person"></ion-icon>
          </div>
          <ion-input
            [(ngModel)]="username"
            type="text"
            placeholder="Username..."
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Username -->

    <!-- Password -->
    <ion-row>
      <ion-col>
        <ion-item>
          <div color="dark" slot="start">
            <ion-icon slot="icon-only" name="lock-closed"></ion-icon>
          </div>
          <ion-input
            [type]="password_type"
            [(ngModel)]="password"
            value=""
            placeholder="Password..."
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Password -->

    <!-- Show Password Checkbox -->
    <ion-row style="padding: 2%;">
      <ion-col>
        <ion-checkbox (ionChange)="showPassword($event)"></ion-checkbox>&nbsp;
        <ion-label style="margin-left: 3%">Show Password</ion-label>
      </ion-col>
    </ion-row>
    <!-- Show Password Checkbox -->

    <!-- Show Loading -->
    <ion-row *ngIf="showLoading">
      <ion-col>
        <div style="align-items: center;
        align-content: center;
        justify-content: center; display: flex;">
           <ion-spinner name="lines"></ion-spinner>
           <ion-label style="margin-left: 5%">Loading...</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <!-- Show Loading -->

    <!-- Button Login -->
    <ion-row style="margin-top: 3%;">
      <ion-col>
        <ion-button expand="full" (click)="processLogin()">Login</ion-button>
      </ion-col>
    </ion-row>
    <!-- Button Login -->

  </ion-grid>
</ion-content>
